:root{
    --primary-color: #ff0000;
    --secondary-color: #1a1a1a;
    --tertiary-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.navs{
    transition: all 0.3s ease;
}

.navs:hover{
    border-bottom: 2px solid var(--primary-color);
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Navx span{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.Hero h1 span{
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
}

h1{
    color: var(--primary-color);
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 2.7rem;
}

.Hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 70vh;
}

.Hero div{
    text-align: center;
    padding: 45px;
}

.Hero div h1 span{
    color: var(--tertiary-color);
}

.Hero div h1{
    color: var(--primary-color);
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.Hero div p{
    color: var(--tertiary-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.Hero div span{
    color: var(--secondary-color);
    text-transform: none;
    transition: all 0.3s ease;
}

.Hero div p span{
    color: var(--primary-color);
}

.Hero div span:hover{
    color: var(--tertiary-color);
    background: var(--secondary-color);
    padding: 2px;
    border-radius: 4px;
}

button{
    margin-top: 15px;
    outline: none;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    color: var(--primary-color);
    transition: all 0.3s ease;
}

button:hover{
    background: var(--primary-color);
    color: var(--tertiary-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.box{
    display: flex;
    width: 50%;
    height: 50px;
    gap: 10px;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}

.box:hover{
    padding: 6px 12px;
    background: var(--primary-color);
    color: var(--tertiary-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.dol{
    color: var(--primary-color);
    font-weight: 700px !important;
    transition: all 0.3s ease;
}

.dol:hover{
    border-bottom: 2px solid var(--secondary-color);
    text-transform: capitalize;
}

.icn{
    color: var(--primary-color);
}